@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.pulse-button {
    animation: pulse 2s ease-in-out infinite;
    transition: transform 0.5s ease-in-out;
}

.pulse-button {
    opacity: 0;
    transform: translateY(20px);
    animation: enterAnimation 0.5s forwards,
    pulse 2s ease-in-out infinite 0.5s, /* duración del sacudido (ajustable -> shake) :) */ shake 0.1s ease-in-out 2 forwards 1s;
}


@keyframes enterAnimation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-primary {
    background-color: #B12A38;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
